<div class="content" fxLayout="row" fxLayoutAlign="center">
  <mat-card elevation="5" fxFlex>
    <mat-card-subtitle>
      <h2>Recherche d'archives</h2>
    </mat-card-subtitle>

    <mat-card-title>
      <h2>{{title}}</h2>
    </mat-card-title>

    <mat-card-content>
      <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <mat-form-field>
          <input matInput formControlName="username" required placeholder="Username">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="password" required type="password" placeholder="Password">
        </mat-form-field>
        <button type="submit" [disabled]="!loginForm.form.valid" mat-raised-button color="primary">Login</button>
      </form>
      <br>

      <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
      <br>
      <hr>

      <p><i>Dont have an Account?</i></p>
      <button (click)="signup()" mat-button color="primary">Sign Up</button>
    </mat-card-content>
  </mat-card>
</div>
