<div class="mat-elevation-z4 table-container">
  <form>

    <mat-grid-list cols="4" rowHeight="2:1">
      <mat-grid-tile>
        <mat-form-field>
          <input matInput [matDatepicker]="pickerFrom" [(ngModel)]="dateFrom" name="dateFrom" placeholder="Choisir une date minimale">
          <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput [matDatepicker]="pickerTo" [(ngModel)]="dateTo" name="dateTo" placeholder="Choisir une date maximale">
          <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

    <button mat-raised-button (click)="search()">Search</button>

  </form>
</div>