.mat-button {
    color: white
}

.mat-button:hover {
    background-color: rgb(20, 20, 70);
}

.example-fill-remaining-space {
    flex: 1 1 auto;
}

.menu-icon:hover {
    cursor: pointer;
}

.mat-button-menu:hover {
    background-color: white;
    color: black;
}